/*
==================================
Table of Contents:

1. Universal Element

2. Container
    - 2.1 Map Styling

3. Hamburger Nav

4. Fade-In Text

5. Media Query

6. Footer
==================================
*/

/*
==================================
1. Universal Element 
==================================
*/

* {
    font-family: 'Oswald', sans-serif !important;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

/*
==================================
2. Container
==================================
*/
#site-text {
  z-index: 4;
}

#site-text h1 {
    transform: translateY(23px);
    color: #A61414;
    text-align: center;
    font-weight: lighter;
    transition: 0.6s;
}

#site-text h1:hover {
    font-size: 50px;
    transition: 0.7s;
}

#site {
    transform: translateY(4em);
}

#Location_LIST {
  font-size: 25px;
  color: #A61414;
  transform: translateX(31em);
  width: 200px;
  margin-bottom: -40px;
}


#Location_LIST p label {
  font-size: 25px;
  font-weight: lighter !important;
}

#Location_LIST #locations {
  background-color: #A61414;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  transform: translateX(17px);
  transform-origin: top center !important;
  transition: 0.6s;
}

#Location_LIST #locations:hover {
  font-size: 25px; 
}

/* 
Button Design
*/
nav ul button {
  position: relative;
  font-family: 'Oswald', sans-serif;
  border: 2px solid white;
  color: white;
  background: none;
  margin-top: 0px !important;
  font-size: 25px !important;
  padding: 5px 40px;
  cursor: pointer;
  overflow: hidden;
  transition: 1.5s;
}

nav ul button:hover {
  color: #A61414;
}

nav ul button:before {
  top: 0;
  border-radius: 0 0 40% 40%;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  z-index: -1;
  transition: 0.9s;
}

nav ul button:hover:before {
  height: 170%;
}


/*
==================================
2.1 Map Styling 
==================================
*/

#map,
body,
html {
  z-index: 1;
  height: 90%;
}

#map {
  position: absolute;
  transform: translateX(13%) translateY(5em) !important;
  width: 80%;
}

/*
==================================
3. Hamburger Nav 
==================================
*/

nav {
    z-index: 5;
}

#hamburger {
    position: fixed;
    width: 300px;
    height: 100% !important;
    background: #A61414 !important;
    left: -300px;
    transition: 0.6s;
}

#hamburger.active {
    left: 0;
}

#hamburger ul li {
    list-style: none;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px 2em;
    position: absolute, fixed;
}

#hamburger ul li a:hover {
    cursor: pointer;
    color: rgb(0, 255, 255) !important;
    /* color: rgb(187, 255, 0); */
}

#hamburger .menu {
    position: absolute;
    top: 30px;
    left: 370px;
}

#hamburger .menu:hover {
    cursor: pointer;
}


.menu .line {
    width: 50px;
    height: 4px;
    background: #A61414;
    display: block;
    margin-top: 6px;
    transition: 0.9s;
    position: relative;
    overflow: hidden;
}

.menu .line:hover {
    width: 60px;
    transition: 0.4s;
}



/*
==================================
4. Fade-In Text
==================================
*/

.container, #map, #Location_LIST {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

#hamburger {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

/*
==================================
5. Media Query
==================================
*/

@media (max-width: 475px) {
    .container h1 {
        font-size: 30px;
    }
    
    .container h2 {
        font-size: 15px;
    }
    

    .menu .line {
        width: 40px;
        height: 4px;
        display: block;
        margin-top: 5px;
    }
    #hamburger {
        width: 200px;
        left: -200px;  
    }
    #hamburger .menu {
        top: 20px;
        left: 230px;
    }
    .footer {
        background-color: aqua;
    }

}

/*
==================================
6. Footer
==================================
*/

#sticky-footer {
    /*Change translate when map is inserted*/
    height: 70px;
    transform: translateY(70em);
}

#sticky-footer #foot small {
  color: white !important;
}