<html>
    <head>
        <title>API Connection Page</title>
    <!--JavaScript sourcing-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
            crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='Landing.js')}}"></script>
    <script src="{{url_for('static', filename='app.css')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
<!--Link stylesheet and font apis-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Site-Map.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

   
    
    
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> --> 
    
   
    
    
    </head>
    <body onload="MyStuff.onLoad()">
        <script>
            var MyStuff = {
                "access_token": "",
                "LogIn": ["Log In", "Logged In"],
                "onLoad": function () {
                    console.log("onLoad")

                    var L_LIST = d3.select("#locations");
                    console.log(Location)
                    //L_LIST.on("change", handleChange_01 );

                    var url = new URL(window.location.href.replace('#', '?'))

                    var query_string = url.search

                    var search_params = new URLSearchParams(query_string)

                    MyStuff.access_token = search_params.get('access_token')

                    let logInButton = document.getElementById("LogIn")
                    //let ProjectButton = document.getElementById("ProjectInfo")
                    logInButton.innerText = (MyStuff.access_token) ? MyStuff.LogIn[1] : MyStuff.LogIn[0]
                    //ProjectButton.innerText = (MyStuff.access_token) ? MyStuff.LogIn[1] : MyStuff.LogIn[0]

                    console.log(MyStuff.access_token)
                },
                //////////////////////////////////////////////////////////
                "getMaps": function () {
                    console.log('Calling Map Page');
                    fetch('/callmap') 
                },
                //////////////////////////////////////////////////////////
                "getzip": function (){
                        //console.log("A button was clicked!");
                        //console.log(document.getElementById("locations").value);
                        fetch('/ziptomap')
                      },
                //////////////////////////////////////////////////////////
                "getUserInfo": function () {
                    console.log("getUserInfo")

                    if (MyStuff.access_token === "") 
                        return

                    fetch('https://developer.api.autodesk.com/userprofile/v1/users/@me', { 
                        headers: {
                            'Authorization': `Bearer ${MyStuff.access_token}`
                        }
                    })
                    .then(res => res.text())
                    .then(data => {
                        let json = JSON.parse(data)
                        let pretty = JSON.stringify(json, null, 2)
                        MyStuff.showInfo(pretty)
                        console.log(data)
                    })
                },
                ////////////////////////////////////////////////////////////
                "getHubInfo": function () {
                    console.log("getHubInfo")

                    if (MyStuff.access_token === "") 
                        return

                    fetch('https://developer.api.autodesk.com/project/v1/hubs', { 
                        headers: {
                            'Authorization': `Bearer ${MyStuff.access_token}`
                        }
                    })
                    .then(res => res.text())
                    .then(data => {
                        let json = JSON.parse(data)
                        let pretty = JSON.stringify(json, null, 2)
                        MyStuff.showHubInfo(pretty)
                        console.log(data)
                    })
                },
                //////////////////////////////////////////////////////////////
                "getProjectInfo": function () {
                    console.log("getProjectInfo")

                    if (MyStuff.access_token === "") 
                        return

                    fetch('https://developer.api.autodesk.com/project/v1/hubs/b.49df69ab-c266-4d49-951c-031b16f7a31f/projects', { 
                        headers: {
                            'Authorization': `Bearer ${MyStuff.access_token}`
                        }
                    })
                    .then(res => res.text())
                    .then(data => {
                        let json = JSON.parse(data)
                        let pretty = JSON.stringify(json, null, 2)
                        MyStuff.showProjectInfo(pretty)
                        console.log(data)
                    })
                    // fetch ('/token', {
                    //     method: 'POST',
                    //     //body: pretty
                    // })
                    // .then (function (response){ return response.text();})
                    // .then(function(text){console.log('POST response: ');
                    // console.log(text);
                    // })
                },
                //////////////////////////////////////////////////////////////
                ///         PUSH DATA TO MONGO
                //////////////////////////////////////////////////////////////
                "pushCSV": function() {
                    // GET is the default method, so we don't need to set it
                                fetch('/pushdata')
                                    .then(function (response) {
                                        return response.text();
                                        }).then(function (text) {
                                    console.log('GET response text:');
                                    console.log(text); // Print the greeting as text
                                    });
                },
                //////////////////////////////////////////////////////////////
                ///         GET DATA FROM MONGO
                //////////////////////////////////////////////////////////////
                "getData": function() {
                    // POST
                      fetch('/getdata', {
                      // Specify the method
                             method: 'POST',
                            // A JSON payload
                            body: JSON.stringify({
                                "greeting": "Hello from the browser!"
                                })
                                }).then(function (response) { // At this point, Flask has printed our JSON
                                    //logInButton.value = response.text();
                                return response.text();
                                }).then(function (text) {

                                console.log('POST response: ');

                                // Should be 'OK' if everything was successful
                                //console.log(JSON.parse(text));
                                jsonReturn.value = text;
                                populateLocations(JSON.parse(text))
                                
                            });
                },

                ///////////////////////////////////////////////////////////////
                "getProject": function () {
                    console.log("getProject")

                    if (MyStuff.access_token === "") 
                        return

                    fetch('https://developer.api.autodesk.com/hq/v1/accounts/49df69ab-c266-4d49-951c-031b16f7a31f/projects', { 
                        headers: {
                            'Authorization': `Bearer ${MyStuff.access_token}`
                        }
                    })
                    .then(res => res.text())
                    .then(data => {
                        let json = JSON.parse(data)
                        let pretty = JSON.stringify(json, null, 2)
                        MyStuff.showProject(pretty)
                        console.log(data)
                    })
                },
                ////////////////////////////////////////////////////////////////
                "logIn": function () {
                    console.log("logIn")

                    let clientId = "ysAEIbQHJGEX0LbuPUI2d2ACu1adNPFi" 
                    let scopes = "data:read+data:write+data:create+data:search+bucket:read+bucket:update+account:read+account:write"
                    let redirectUri = encodeURI("http://localhost:5000")
                    //let redirectUri = encodeURI("https://www.getpostman.com/oauth2/callback")
                    console.log(redirectUri);
                    window.open(`https://developer.api.autodesk.com/authentication/v1/authorize` +
                        `?response_type=token&client_id=${clientId}&redirect_uri=${redirectUri}&scope=${scopes}`, "_self")
                },
                
                    
                ////////////////////////////////////////////////////////////////
                "showInfo": function (text) {
                    // let logInButton = document.getElementById("Info")
                    // logInButton.value = text
                },
                "showHubInfo": function (text) {
                    // let logInButton = document.getElementById("infoHub")
                    // logInButton.value = text
                },
                "showProjectInfo": function (text) {
                    // let logInButton = document.getElementById("infoProject")
                    // logInButton.value = text
                },
                "showProject": function (text) {
                    // let logInButton = document.getElementById("Project")
                    // logInButton.value = text
                },
                "showJson": function (text) {
                    let logInButton = document.getElementById("jsonReturn")
                    logInButton.value = text
                }
            }
        </script>
        <header>
            <nav id="hamburger">
                <div class="menu" onclick="show()">
                    <div class="line"></div>
                    <div id="animate-line" class="line"></div>
                    <div class="line"></div>
                </div>
                <ul>
                    <li><a id="LogIn" onclick="MyStuff.logIn()">Log In</a></li>
                    <li><button id="getData" onclick="MyStuff.getData()">Get Data from Mongo</button></li>
                    <!-- <li><a href="Graph_Data.html" target="_blank">Graph Data</a></li>
                    <li><a href="Site-Map.html">Site Maps</a></li> -->
                </ul>
            </nav>
        </header>
        <div class="container">
            <div id="site-text">
                <h1>Construction Site Locations</h1>
            </div>
        </div>  
        <!-- <button id="LogIn" onclick="MyStuff.logIn()">Log In</button> -->
        <!-- <button id="LogIn2" onclick="MyStuff.logIn2()">Log In 2</button>
        <br /><br /> -->
        <br/>
        <!-- <button id="GetUserInfo" onclick="MyStuff.getUserInfo()">Get User Info</button>  -->
        <!-- <button id="HubInfo" onclick="MyStuff.getHubInfo()">Get Hub Info</button> -->
        <!-- <button id="ProjectInfo" onclick="MyStuff.getProjectInfo()">Get Projects</button>  -->
        <br/>
        <!-- <textarea id="Info"></textarea> 
        <textarea id="infoHub"></textarea>
        <textarea id="infoProject"></textarea> 
        <br />  -->
        <!-- <button id="pushCSV" onclick="MyStuff.pushCSV()">Push Data to Mongo</button>  -->
        <!-- <button id="getData" onclick="MyStuff.getData()">Get Data from Mongo</button>  -->
        <!-- <button id="getMaps" onclick="window.location.href='/callmap'">Launch Map Pages</button> -->
        <br />
        <form id="Location_LIST"  >
            <fieldset>
                <p>
                    <label>Select Location</label>
                <br>
                    <select id = "locations" >
                        <Option value="" >Locations</option>
                    </select>
                </p>
            </fieldset>
        </form>
        <br /><br />
        <textarea id="jsonReturn"></textarea>
        <br/>
        <!-- <h3>Json Return</h3>
        <textarea id="jsonProject"></textarea>   -->
        <!-- <button id="GetProject" onclick="MyStuff.getProject()">Get A Project</button>  
        <br /><br /> -->
        <div class="rounded shadow-lg bg-dark" id="map"></div>
        <!-- <button id="getMaps" onclick="MyStuff.getMaps()">Launch Map Pages</button>  -->
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div id="foot"class="container text-center">
              <small>Copyright &copy; High Visibility</small>
            </div>
        </footer>
        <!-- D3 JavaScript -->
        <script src="{{url_for('static', filename='Landing.js')}}"></script>
        <script src="{{url_for('static', filename='config.js')}}"></script>
        <!-- <script src="{{url_for('static', filename='map.js')}}"></script> -->
        <script src="{{url_for('static', filename='maplogic.js')}}"></script>
        <script src="{{url_for('static', filename='dynamic.js')}}"></script>
    </body>
</html>
